<!--this xml file manages the connection between URL and servlets-->

  <!-- beginning of servlet declaration-->
  <web-app>

    <display-name>
      Demonstration Servlets
    </display-name>

    <descriptor>
      Bunch of servlets used for experimenting
    </descriptor>


    <!-- declaring DemoServlet class -->
    <servlet>
      <servlet-name>first</servlet-name>
      <servlet-class>DemoServlet</servlet-class>
    </servlet>

    <!-- declaring DemoServlet URL-->
    <servlet-mapping>
      <servlet-name>first</servlet-name>
      <url-pattern>/ds</url-pattern>
    </servlet-mapping>

    <!-- declaring NewDemoServlet class -->
    <servlet>
      <servlet-name>newdemoservlet</servlet-name>
      <servlet-class>NewDemoServlet</servlet-class>
    </servlet>

    <!-- declaring NewDemoServlet URL -->
    <servlet-mapping>
      <servlet-name>newdemoservlet</servlet-name>
      <url-pattern>/nds</url-pattern>
    </servlet-mapping>

    <!-- declaring InsertName class -->
    <servlet>
      <servlet-name>inname</servlet-name>
      <servlet-class>InsertName</servlet-class>
    </servlet>

    <!-- declaring InsertName URL-->
    <servlet-mapping>
      <servlet-name>inname</servlet-name>
      <url-pattern>/insertName</url-pattern>
    </servlet-mapping>

    <!-- declaring WelcomeServlet class-->
    <servlet>
      <servlet-name>welc</servlet-name>
      <servlet-class>WelcomeServlet</servlet-class>
    </servlet>

    <!-- declaring WelcomeServlet URL-->
    <servlet-mapping>
      <servlet-name>welc</servlet-name>
      <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <!-- declaring CookieServlet class-->
    <servlet>
      <servlet-name>nowwithcookies</servlet-name>
      <servlet-class>CookieServlet</servlet-class>
    </servlet>

    <!-- declaring CookieServlet URL-->
    <servlet-mapping>
      <servlet-name>nowwithcookies</servlet-name>
      <url-pattern>/connessi</url-pattern>
    </servlet-mapping>


  </web-app>
